<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FriendZone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>
            @if (ViewBag.UserName != "" && ViewBag.UserName != null)
            {
                <h1>Hi @ViewBag.UserName</h1>
            }
            @if (ViewBag.Message != "" && ViewBag.Message != null)
            {
                <strong style="color:blue;"> @ViewBag.Message</strong>
            }
        </div>
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Friend Zone</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            function setTotalNotification(totalNotif) {
                console.log(totalNotif);
                alert(totalNotif);
                //$("#messages").html("<p> Total Notif:" + totalNotif + "</p>");
            }

            var hub = $.connection.notificationHub;

            //Server Sent Event
            hub.client.broadcaastNotif = function (totalNotif) {
                setTotalNotification(totalNotif)
            };


            //$.connection.hub.start().done(function () { });

            $.connection.hub.start()
                .done(function () {
                    console.log("Hub Connected!");

                    //Client Call to Server
                    hub.server.getNotification();

                })
                .fail(function () {
                    console.log("Could not Connect!");
                });
        });
    </script>*@
    @*<script type="text/javascript">
        $(document).ready(function () {
            var hub = $.connection.notificationHub;
            $.connection.hub.start()
                .done(function () {
                    //alert("SignalR Hub Connected successfully!");
                    console.log("Hub Connected!");

                })
                .fail(function () {
                    console.log("Could not Connect!");
                });
        });
    </script>*@
</body>
</html>
